<a href="https://colab.research.google.com/github/soralee2821/coding/blob/master/2021_04_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuple

In [1]:
mytuple = ("Max", 28, "Boston")
print(mytuple)

('Max', 28, 'Boston')

In [2]:
mytuple = "Max", 28, "Boston"
print(mytuple)

('Max', 28, 'Boston')

In [3]:
mytuple = ("Max")
print(type(mytuple))
mytuple1 = ("Max",)
print(type(mytuple1))

<class 'str'>
<class 'tuple'>

In [6]:
mytuple = tuple(["Max",28,"Boston"])
print(mytuple)

('Max', 28, 'Boston')

In [9]:
mytuple = tuple(["Max",28,"Boston"])
print(mytuple)

item = mytuple[0]
print(item)
item1 = mytuple[1]
print(item1)
item2 = mytuple[2]
print(item2)

('Max', 28, 'Boston')
Max
28
Boston

In [10]:
mytuple = tuple(["Max",28,"Boston"])
print(mytuple)

item1 = mytuple[-1]
print(item1)
item2 = mytuple[-2]
print(item2)

('Max', 28, 'Boston')
Boston
28

In [11]:
#tuple is immutable.
mytuple = tuple(["Max",28,"Boston"])
print(mytuple)

mytuple[0] = "Tim"

('Max', 28, 'Boston')

TypeError: ignored

In [12]:
mytuple = tuple(["Max",28,"Boston"])
print(mytuple)

for i in mytuple:
    print(i)

('Max', 28, 'Boston')
Max
28
Boston

In [13]:
mytuple = tuple(["Max",28,"Boston"])
print(mytuple)

if "Max" in mytuple:
    print("yes")
else:
    print("no")

('Max', 28, 'Boston')
yes

In [14]:
my_tuple = ('a','p','p','l','e')

print(len(my_tuple))

5

In [15]:
my_tuple = ('a','p','p','l','e')

print(my_tuple.count('p'))

2

In [16]:
my_tuple = ('a','p','p','l','e')

print(my_tuple.index('p'))

1

In [18]:
my_tuple = ('a','p','p','l','e')

my_list = list(my_tuple)
print(my_list)

my_tuple2 = tuple(my_list)
print(my_tuple2)

['a', 'p', 'p', 'l', 'e']
('a', 'p', 'p', 'l', 'e')

In [19]:
a = (1,2,3,4,5,6,7,8,9,10)

b = a[2:5]
print(b)

(3, 4, 5)

In [20]:
a = (1,2,3,4,5,6,7,8,9,10)

b = a[:5]
print(b)

(1, 2, 3, 4, 5)

In [21]:
a = (1,2,3,4,5,6,7,8,9,10)

b = a[2:]
print(b)

(3, 4, 5, 6, 7, 8, 9, 10)

In [22]:
a = (1,2,3,4,5,6,7,8,9,10)

b = a[::1]
print(b)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [23]:
a = (1,2,3,4,5,6,7,8,9,10)

b = a[::2]
print(b)

(1, 3, 5, 7, 9)

In [24]:
a = (1,2,3,4,5,6,7,8,9,10)

b = a[::-1]
print(b)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [25]:
my_tuple="Max",28,"Boston"

name, age, city = my_tuple
print(name)
print(age)
print(city)

Max
28
Boston

In [26]:
my_tuple = (0,1,2,3,4)

i1, *i2, i3 = my_tuple
print(i1)
print(i3)
print(i2)

0
4
[1, 2, 3]

In [27]:
import sys
my_list = [0, 1, 2, "hello", True]
my_tuple = (0, 1, 2, "hello", True)
print(sys.getsizeof(my_list), "bytes")
print(sys.getsizeof(my_tuple), "bytes")

112 bytes
96 bytes

In [29]:
import timeit
print(timeit.timeit(stmt="[0,1,2,3,4,5]", number=100000))
print(timeit.timeit(stmt="(0,1,2,3,4,5)", number=100000))
#Sometimes working with tuples is more efficient.

0.012326953000410867
0.0012936169996464741