<a href="https://colab.research.google.com/github/soralee2821/coding/blob/master/2021_04_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Asterick Operation (*)

In [1]:
# * : multiple operation
result = 5 * 7
print(result)

35

In [2]:
# ** : power operation
result = 2 ** 4
print(result)

16

In [3]:
# repeat element of list
zeros = [0] * 10
print(zeros)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [4]:
# repeat elements of list
zeros = [0, 1] * 10
print(zeros)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [5]:
# repeat elements of tuple
zeros = (0, 1) * 10
print(zeros)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [6]:
# repeat string
str = "AB" * 10
print(str)

ABABABABABABABABABAB

In [7]:
# *args, **kwargs
def foo(a, b, *args, **kwargs):
    print(a)
    for arg in args:
        print(arg)
    for key in kwargs:
        print(key, kwargs[key])

foo(1,2,3,4,5,six=6,seven=7)

1
3
4
5
six 6
seven 7

In [8]:
# keyward arguments follows next to *
def foo(a, b, *, c):
    print(a, b, c)

foo(1,2,c=3)

1 2 3

In [9]:
# unpacking operation
def foo(a, b, c):
    print(a, b, c)

my_list = [0, 1, 2]
foo(*my_list)

0 1 2

In [10]:
# unpacking operation
def foo(a, b, c):
    print(a, b, c)

my_dict = {'a':1, 'b':1, 'c':2}
foo(*my_dict)

a b c

In [11]:
# unpack the elements of a list
numbers = [1, 2, 3, 4, 5, 6]

*beginning, last = numbers
print(beginning)
print(last)

[1, 2, 3, 4, 5]
6

In [12]:
# unpack the elements of a tuple
numbers = (1, 2, 3, 4, 5, 6)

*beginning, last = numbers
print(beginning)
print(last)

[1, 2, 3, 4, 5]
6

In [13]:
# unpack remaining elements
numbers = (1, 2, 3, 4, 5, 6)

beginning, *last = numbers
print(beginning)
print(last)

1
[2, 3, 4, 5, 6]

In [14]:
# unpack the elements between first and last element
numbers = (1, 2, 3, 4, 5, 6)

beginning, *middle, last = numbers
print(beginning)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [15]:
numbers = (1, 2, 3, 4, 5, 6)

beginning, *middle, secondlast, last = numbers
print(beginning)
print(middle)
print(secondlast)
print(last)

1
[2, 3, 4]
5
6

In [16]:
# merge tuple and list into a list
my_tuple = (1, 2, 3)
my_list = [4, 5, 6]

new_list = [*my_tuple, *my_list]
print(new_list)

[1, 2, 3, 4, 5, 6]

In [17]:
# merge tuple and set into a list
my_tuple = (1, 2, 3)
my_set = {4, 5, 6}

new_list = [*my_tuple, *my_list]
print(new_list)

[1, 2, 3, 4, 5, 6]

In [18]:
# merge dictionaries with **
dict_a = {'a':1, 'b':2}
dict_b = {'c':3, 'd':4}

my_dict = {**dict_a, **dict_b}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}