<a href="https://colab.research.google.com/github/soralee2821/coding/blob/master/2021_04_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Itertools

In [2]:
from itertools import product
a = [1,2]
b = [3,4]
prod = product(a,b)
print(prod)
print(list(prod))

<itertools.product object at 0x7f171d6019b0>
[(1, 3), (1, 4), (2, 3), (2, 4)]

In [3]:
from itertools import product
a = [1,2]
b = [3,4]
prod = product(a,b, repeat=2)
print(list(prod))

[(1, 3, 1, 3), (1, 3, 1, 4), (1, 3, 2, 3), (1, 3, 2, 4), (1, 4, 1, 3), (1, 4, 1, 4), (1, 4, 2, 3), (1, 4, 2, 4), (2, 3, 1, 3), (2, 3, 1, 4), (2, 3, 2, 3), (2, 3, 2, 4), (2, 4, 1, 3), (2, 4, 1, 4), (2, 4, 2, 3), (2, 4, 2, 4)]

In [4]:
from itertools import permutations
a = [1,2,3]
perm = permutations(a)
print(list(perm))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [5]:
from itertools import permutations
a = [1,2,3]
perm = permutations(a, 2)
print(list(perm))

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [7]:
from itertools import combinations
a = [1,2,3,4]
comb = combinations(a,2)
print(list(comb))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [9]:
from itertools import combinations_with_replacement
a = [1,2,3,4]
comb_wr = combinations_with_replacement(a, 2)
print(list(comb_wr))

[(1, 1), (1, 2), (1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 3), (3, 4), (4, 4)]

In [12]:
from itertools import accumulate
a = [1,2,3,4]
acc = accumulate(a)
print(a)
print(list(acc))

[1, 2, 3, 4]
[1, 3, 6, 10]

In [13]:
from itertools import accumulate
import operator
a = [1,2,3,4]
acc = accumulate(a, func=operator.mul)
print(a)
print(list(acc))

[1, 2, 3, 4]
[1, 2, 6, 24]

In [14]:
from itertools import accumulate
a = [1,2,5,3,4]
acc = accumulate(a, func=max)
print(a)
print(list(acc))

[1, 2, 5, 3, 4]
[1, 2, 5, 5, 5]

In [15]:
from itertools import groupby

def smaller_than_3(x):
    return x < 3

a = [1,2,3,4]
group_obj = groupby(a, key=smaller_than_3)

for key, value in group_obj:
    print(key, list(value))

True [1, 2]
False [3, 4]

In [16]:
from itertools import groupby

a = [1,2,3,4]
group_obj = groupby(a, key=lambda x: x<3)

for key, value in group_obj:
    print(key, list(value))

True [1, 2]
False [3, 4]

In [17]:
from itertools import groupby

persons = [{'name':'Tim', 'age':25}, {'name':'Dan','age':25},
           {'name':'Lisa','age':27},{'name':'Clare','age':28}]

group_obj = groupby(persons, key=lambda x: x['age'])

for key, value in group_obj:
    print(key, list(value))

25 [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25}]
27 [{'name': 'Lisa', 'age': 27}]
28 [{'name': 'Clare', 'age': 28}]

In [19]:
from itertools import count

for i in count(10):
    print(i)
    if i == 15:
        break

10
11
12
13
14
15

In [20]:
from itertools import cycle

a = [1,2,3]
count = 0
for i in cycle(a):
    print(i)
    count += 1
    if count == 15:
        break

1
2
3
1
2
3
1
2
3
1
2
3
1
2
3

In [21]:
from itertools import repeat

a = [1,2,3]
for i in repeat(a, 3):
    print(i)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]