<a href="https://colab.research.google.com/github/soralee2821/coding/blob/master/2021_05_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Handling Missing Data with Pandas

In [1]:
import numpy as np
import pandas as pd

### Pandas utility functions

In [2]:
pd.isnull(np.nan)

True

In [3]:
pd.isnull(None)

True

In [4]:
pd.isna(None)

True

In [5]:
pd.notnull(None)

False

In [6]:
pd.notnull(np.nan)

False

In [7]:
pd.notna(np.nan)

False

In [8]:
pd.notna(None)

False

In [9]:
pd.notnull(3)

True

In [10]:
# these functions work with Series and DataFrames
pd.isnull(pd.Series([1, np.nan, 7]))

0    False
1     True
2    False
dtype: bool

In [11]:
pd.notnull(pd.Series([1, np.nan, 7]))

0     True
1    False
2     True
dtype: bool

In [12]:
pd.isnull(pd.DataFrame({
    'Column A':[1, np.nan, 7],
    'Column B':[np.nan, 2, 3],
    'Column C':[np.nan, np.nan, 4]
}))

   Column A  Column B  Column C
0     False      True      True
1      True     False      True
2     False     False     False

### Pandas Operations with Missing Values

In [13]:
# Pandas opertations just ignore missing values
pd.Series([1, 2, np.nan]).count()

2

In [14]:
pd.Series([1, 2, np.nan]).sum()

3.0

In [15]:
pd.Series([1, 2, np.nan]).mean()

1.5

### Filtering missing data

In [16]:
s = pd.Series([1, 2, 3, np.nan, np.nan, 4])

In [17]:
pd.notnull(s)

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [18]:
pd.isnull(s)

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [19]:
# every true value counts as 1
pd.notnull(s).sum()

4

In [20]:
pd.isnull(s).sum()

2

In [21]:
s[pd.notnull(s)]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

In [22]:
s.isnull()

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [23]:
s.notnull()

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [24]:
s[s.notnull()]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

### Dropping null values

In [25]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

In [26]:
s.dropna()

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

In [27]:
# dropna method is immutable (original contents don't change)
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

In [28]:
df = pd.DataFrame({
    'Column A':[1, np.nan, 30, np.nan],
    'Column B':[2, 8, 31, np.nan],
    'Column C':[np.nan, 9, 32, 100],
    'Column D':[5, 8, 34, 110]
})

In [29]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [30]:
df.shape

(4, 4)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Column A  2 non-null      float64
 1   Column B  3 non-null      float64
 2   Column C  3 non-null      float64
 3   Column D  4 non-null      int64
dtypes: float64(3), int64(1)
memory usage: 256.0 bytes

In [32]:
df.isnull()

   Column A  Column B  Column C  Column D
0     False     False      True     False
1      True     False     False     False
2     False     False     False     False
3      True      True     False     False

In [33]:
df.isnull().sum()

Column A    2
Column B    1
Column C    1
Column D    0
dtype: int64

In [34]:
# drona (default) : drop all the rows which any null value is present
df.dropna()

   Column A  Column B  Column C  Column D
2      30.0      31.0      32.0        34

In [35]:
# dropna (axis=1) : drop columns containing null values
df.dropna(axis=1)

   Column D
0         5
1         8
2        34
3       110

In [36]:
df.dropna(axis='columns')

   Column D
0         5
1         8
2        34
3       110

In [37]:
df2 = pd.DataFrame({
    'Column A':[1, np.nan, 30],
    'Column B':[2, np.nan, 31],
    'Column C':[np.nan, np.nan, 100]
})

In [38]:
df2

   Column A  Column B  Column C
0       1.0       2.0       NaN
1       NaN       NaN       NaN
2      30.0      31.0     100.0

In [39]:
# drop the rows which all the values are null
df2.dropna(how='all')

   Column A  Column B  Column C
0       1.0       2.0       NaN
2      30.0      31.0     100.0

In [40]:
# drop the rows which contain any null value
df2.dropna(how='any')

   Column A  Column B  Column C
2      30.0      31.0     100.0

In [41]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [42]:
# threshold : a mininum number of non_null values
df.dropna(thresh=3)

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34

In [43]:
df.dropna(thresh=3, axis='columns')

   Column B  Column C  Column D
0       2.0       NaN         5
1       8.0       9.0         8
2      31.0      32.0        34
3       NaN     100.0       110

### Filling null values

In [44]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

In [45]:
s.fillna(0)

0    1.0
1    2.0
2    3.0
3    0.0
4    0.0
5    4.0
dtype: float64

In [46]:
s.fillna(s.mean())

0    1.0
1    2.0
2    3.0
3    2.5
4    2.5
5    4.0
dtype: float64

In [47]:
# these methods are immutable
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

In [48]:
# fill null values with forward values close to than null one
s.fillna(method='ffill')

0    1.0
1    2.0
2    3.0
3    3.0
4    3.0
5    4.0
dtype: float64

In [49]:
# fill null values with backward values close to than null one
s.fillna(method='bfill')

0    1.0
1    2.0
2    3.0
3    4.0
4    4.0
5    4.0
dtype: float64

In [50]:
pd.Series([1, np.nan, 3, np.nan, 9]).fillna(method='ffill')

0    1.0
1    1.0
2    3.0
3    3.0
4    9.0
dtype: float64

In [51]:
pd.Series([1, np.nan, 3, np.nan, 9]).fillna(method='bfill')

0    1.0
1    3.0
2    3.0
3    9.0
4    9.0
dtype: float64

In [52]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [53]:
df.fillna(method='ffill', axis=0)

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       1.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3      30.0      31.0     100.0       110

In [54]:
df.fillna(method='ffill', axis=1)

   Column A  Column B  Column C  Column D
0       1.0       2.0       2.0       5.0
1       NaN       8.0       9.0       8.0
2      30.0      31.0      32.0      34.0
3       NaN       NaN     100.0     110.0

In [55]:
df.fillna(method='bfill', axis=0)

   Column A  Column B  Column C  Column D
0       1.0       2.0       9.0         5
1      30.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [56]:
df.fillna(method='bfill', axis=1)

   Column A  Column B  Column C  Column D
0       1.0       2.0       5.0       5.0
1       8.0       8.0       9.0       8.0
2      30.0      31.0      32.0      34.0
3     100.0     100.0     100.0     110.0

### Checking if there are NAs

In [57]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

In [58]:
s.dropna().count()

4

In [59]:
len(s)

6

In [60]:
s.count()

4

In [61]:
# check if there is any True value
pd.Series([True, False, False]).any()

True

In [62]:
# check if all the values are True
pd.Series([True, False, False]).all()

False

In [63]:
pd.Series([True, True, True]).all()

True

In [64]:
s.isnull()

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [65]:
pd.Series([1, np.nan]).isnull().any()

True

In [66]:
pd.Series([1,2]).isnull().any()

False

In [67]:
s.isnull().any()

True

In [68]:
s.isnull().values

array([False, False, False,  True,  True, False])

In [69]:
s.isnull().values.any()

True