<a href="https://colab.research.google.com/github/soralee2821/coding/blob/master/2021_04_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List

In [1]:
mylist = ["banana", "cherry", "apple"]
print(mylist)

mylist2 = [5, True, "apple"]
print(mylist2)

['banana', 'cherry', 'apple']
[5, True, 'apple']

In [2]:
mylist2 = [5, True, "apple", "apple"]
print(mylist2)

[5, True, 'apple', 'apple']

In [4]:
mylist = ["banana", "cherry", "apple"]
print(mylist)

item = mylist[1]
print(item)
item2 = mylist[-1]
print(item2)

['banana', 'cherry', 'apple']
cherry
apple

In [5]:
mylist = ["banana", "cherry", "apple"]
print(mylist)

for i in mylist:
    print(i)

['banana', 'cherry', 'apple']
banana
cherry
apple

In [6]:
mylist = ["banana", "cherry", "apple"]
print(mylist)

if "banana" in mylist:
    print("yes")
else:
    print("no")

['banana', 'cherry', 'apple']
yes

In [7]:
mylist = ["banana", "cherry", "apple"]
print(mylist)
print(len(mylist))

['banana', 'cherry', 'apple']
3

In [8]:
mylist = ["banana", "cherry", "apple"]
print(mylist)

mylist.append("lemon")
print(mylist)

['banana', 'cherry', 'apple']
['banana', 'cherry', 'apple', 'lemon']

In [9]:
mylist = ["banana", "cherry", "apple"]
print(mylist)

mylist.insert(1, "blueberry")
print(mylist)

['banana', 'cherry', 'apple']
['banana', 'blueberry', 'cherry', 'apple']

In [10]:
mylist = ["banana", "cherry", "apple"]
print(mylist)

item = mylist.pop()
print(item)
print(mylist)

['banana', 'cherry', 'apple']
apple
['banana', 'cherry']

In [11]:
mylist = ["banana", "cherry", "apple"]
print(mylist)

item = mylist.remove("cherry")

print(mylist)

['banana', 'cherry', 'apple']
['banana', 'apple']

In [12]:
mylist = ["banana", "cherry", "apple"]
print(mylist)

item = mylist.clear()

print(mylist)

['banana', 'cherry', 'apple']
[]

In [14]:
mylist = ["banana", "cherry", "apple"]
print(mylist)

item = mylist.reverse()

print(mylist)

['banana', 'cherry', 'apple']
['apple', 'cherry', 'banana']

In [18]:
mylist = ["banana", "cherry", "apple"]
print(mylist)

mylist.sort()

print(mylist)

['banana', 'cherry', 'apple']
['apple', 'banana', 'cherry']

In [19]:
mylist = [1,2,3,-1,-3,-5]
print(mylist)

new_list = sorted(mylist)

print(mylist)
print(new_list)

[1, 2, 3, -1, -3, -5]
[1, 2, 3, -1, -3, -5]
[-5, -3, -1, 1, 2, 3]

In [20]:
mylist = [0]*5
print(mylist)

[0, 0, 0, 0, 0]

In [21]:
mylist = [0]*5
print(mylist)

mylist2 = [1,2,3,4,5]

new_list = mylist + mylist2
print(new_list)

[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 1, 2, 3, 4, 5]

In [22]:
mylist = [1,2,3,4,5,6,7,8,9]

a = mylist[1:5]
print(a)

[2, 3, 4, 5]

In [23]:
mylist = [1,2,3,4,5,6,7,8,9]

a = mylist[:5]
print(a)

[1, 2, 3, 4, 5]

In [24]:
mylist = [1,2,3,4,5,6,7,8,9]

a = mylist[1:]
print(a)

[2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
mylist = [1,2,3,4,5,6,7,8,9]

a = mylist[::1]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
mylist = [1,2,3,4,5,6,7,8,9]

a = mylist[::2]
print(a)

[1, 3, 5, 7, 9]

In [27]:
mylist = [1,2,3,4,5,6,7,8,9]

a = mylist[::-1]
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
list_org = ["banana", "cherry", "apple"]

list_cpy = list_org
#both lists refer to the same memory
list_cpy.append("lemon")

print(list_cpy)
print(list_org)

['banana', 'cherry', 'apple', 'lemon']
['banana', 'cherry', 'apple', 'lemon']

In [29]:
list_org = ["banana", "cherry", "apple"]

list_cpy = list_org.copy()
list_cpy.append("lemon")

print(list_cpy)
print(list_org)

['banana', 'cherry', 'apple', 'lemon']
['banana', 'cherry', 'apple']

In [30]:
list_org = ["banana", "cherry", "apple"]

list_cpy = list(list_org)
list_cpy.append("lemon")

print(list_cpy)
print(list_org)

['banana', 'cherry', 'apple', 'lemon']
['banana', 'cherry', 'apple']

In [31]:
list_org = ["banana", "cherry", "apple"]

list_cpy = list_org[:]
list_cpy.append("lemon")

print(list_cpy)
print(list_org)

['banana', 'cherry', 'apple', 'lemon']
['banana', 'cherry', 'apple']

In [32]:
mylist = [1,2,3,4,5,6]
a = [i*i for i in mylist]

print(mylist)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]