<a href="https://colab.research.google.com/github/soralee2821/coding/blob/master/2021_04_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dictionary

In [1]:
mydict = {"name":"Max", "age":28, "city":"New York"}
print(mydict)

{'name': 'Max', 'age': 28, 'city': 'New York'}

In [2]:
mydict2 = dict(name="Mary",age=27, city="Boston")
print(mydict2)

{'name': 'Mary', 'age': 27, 'city': 'Boston'}

In [3]:
mydict = {"name":"Max", "age":28, "city":"New York"}
print(mydict)

value = mydict["name"]
print(value)

{'name': 'Max', 'age': 28, 'city': 'New York'}
Max

In [4]:
mydict = {"name":"Max", "age":28, "city":"New York"}
print(mydict)

mydict["email"] = "max@xyz.com"
print(mydict)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}

In [6]:
mydict = {"name":"Max", "age":28, "city":"New York"}
print(mydict)

mydict["email"] = "max@xyz.com"
mydict["email"] = "coolmax@xyz.com"

print(mydict)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'coolmax@xyz.com'}

In [7]:
mydict = {"name":"Max", "age":28, "city":"New York"}
print(mydict)

del mydict["name"]
print(mydict)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'age': 28, 'city': 'New York'}

In [8]:
mydict = {"name":"Max", "age":28, "city":"New York"}
print(mydict)

mydict.pop("age")
print(mydict)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'name': 'Max', 'city': 'New York'}

In [9]:
mydict = {"name":"Max", "age":28, "city":"New York"}
print(mydict)

mydict.popitem()
print(mydict)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'name': 'Max', 'age': 28}

In [10]:
mydict = {"name":"Max", "age":28, "city":"New York"}
print(mydict)

if "name" in mydict:
    print(mydict["name"])

{'name': 'Max', 'age': 28, 'city': 'New York'}
Max

In [12]:
mydict = {"name":"Max", "age":28, "city":"New York"}
print(mydict)

try:
    print(mydict["lastname"])
except:
    print("Error")

{'name': 'Max', 'age': 28, 'city': 'New York'}
Error

In [13]:
mydict = {"name":"Max", "age":28, "city":"New York"}
print(mydict)

for key in mydict:
    print(key)

{'name': 'Max', 'age': 28, 'city': 'New York'}
name
age
city

In [14]:
mydict = {"name":"Max", "age":28, "city":"New York"}
print(mydict)

for key in mydict.keys():
    print(key)

{'name': 'Max', 'age': 28, 'city': 'New York'}
name
age
city

In [15]:
mydict = {"name":"Max", "age":28, "city":"New York"}
print(mydict)

for value in mydict.values():
    print(value)

{'name': 'Max', 'age': 28, 'city': 'New York'}
Max
28
New York

In [16]:
mydict = {"name":"Max", "age":28, "city":"New York"}
print(mydict)

for key, value in mydict.items():
    print(key, value)

{'name': 'Max', 'age': 28, 'city': 'New York'}
name Max
age 28
city New York

In [19]:
mydict = {"name":"Max", "age":28, "city":"New York"}
print(mydict)

mydict_cpy = mydict
#both dictionaries refer to the same memory.

mydict_cpy["email"] = "max@xyz.com"
print(mydict_cpy)
print(mydict)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}
{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}

In [20]:
mydict = {"name":"Max", "age":28, "city":"New York"}
print(mydict)

mydict_cpy = mydict.copy()
#both dictionaries refer to the same memory.

mydict_cpy["email"] = "max@xyz.com"
print(mydict_cpy)
print(mydict)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}
{'name': 'Max', 'age': 28, 'city': 'New York'}

In [21]:
mydict = {"name":"Max", "age":28, "city":"New York"}
print(mydict)

mydict_cpy = dict(mydict)
#both dictionaries refer to the same memory.

mydict_cpy["email"] = "max@xyz.com"
print(mydict_cpy)
print(mydict)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}
{'name': 'Max', 'age': 28, 'city': 'New York'}

In [22]:
my_dict = {"name":"Max", "age":28, "email":"max@xyz.com"}
my_dict2 = {"name":"Mary", "age":27, "city":"Boston"}

my_dict.update(mydict2)
print(my_dict)

{'name': 'Mary', 'age': 27, 'email': 'max@xyz.com', 'city': 'Boston'}

In [25]:
my_dict = {3:9, 6:36, 9:81}
print(my_dict)

value = my_dict[3]
print(value)

{3: 9, 6: 36, 9: 81}
9

In [26]:
#A tuple can be a key
mytuple= (3, 7)
mydict = {mytuple: 15}
print(mydict)

{(3, 7): 15}

In [27]:
#A list is mutable, so a list cannot be a key.
mylist= [3, 7]
mydict = {mylist: 15}
print(mydict)

TypeError: ignored